<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button>
            </ion-back-button>
          </ion-buttons>
      <ion-title></ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
      <ion-img src="https://pbs.twimg.com/media/Dgyb00IX4AEvsuy.jpg"></ion-img>
        <ion-list mode="ios">
            <ion-list-header mode="ios">su meme</ion-list-header>
            <ion-item mode="ios">                      
            <ion-chip class="ion-margin-start">
              <ion-avatar mode="ios">
                <img src="assets/avatar.svg">
              </ion-avatar>
              <ion-label color="light">Dilan Cardenas</ion-label>
            </ion-chip>
          </ion-item> 
          <ion-list-header mode="ios">Comentarios</ion-list-header>
          <ion-item mode="ios">
              <ion-avatar slot="end">
                <img src="assets/avatar.svg">
              </ion-avatar>
              <ion-label> 
                <h3>Dilan Cardenas</h3>
                <p>y si hacemos esto? xd</p>
              </ion-label>
            </ion-item>
          <ion-item mode="ios">
            <ion-avatar slot="end">
              <img src="assets/avatar.svg">
            </ion-avatar>
            <ion-label>
              <h3>Michael Bello</h3>
              <p>pero wn si ahora estamos</p>
              <p>presentando el trabajo</p>
            </ion-label>
          </ion-item>
          <ion-item mode="ios">
              <ion-avatar slot="end">
                <img src="assets/avatar.svg">
              </ion-avatar>
              <ion-label>
                <h3>Dilan Cardenas</h3>
                <p>ah verdad xd</p>
              </ion-label>
            </ion-item>
        </ion-list> 
  </ion-content>
  