<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button>
            </ion-back-button>
          </ion-buttons>
      <ion-title></ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
      <ion-img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQkem9MorcU49Wu9IHOfY4ZFe0BGUglktZytg53N5XR1VUAz_PpYA"></ion-img>
        <ion-list mode="ios">
            <ion-list-header mode="ios">Casacapuntas</ion-list-header>
            <ion-item mode="ios">                      
            <ion-chip class="ion-margin-start">
              <ion-avatar mode="ios">
                <img src="assets/avatar.svg">
              </ion-avatar>
              <ion-label color="light">Michael Bello</ion-label>
            </ion-chip>
          </ion-item> 
          <ion-list-header mode="ios">Comentarios</ion-list-header>
          <ion-item mode="ios">
              <ion-avatar slot="end">
                <img src="assets/avatar.svg">
              </ion-avatar>
              <ion-label> 
                <h3>Dilan Cardenas</h3>
                <p>Nombre klo que le pusiste xd</p>
              </ion-label>
            </ion-item>
          <ion-item mode="ios">
            <ion-avatar slot="end">
              <img src="assets/avatar.svg">
            </ion-avatar>
            <ion-label>
              <h3>Michael Bello</h3>
              <p>pulentio po</p>
            </ion-label>
          </ion-item>
          <ion-item mode="ios">
              <ion-avatar slot="end">
                <img src="assets/avatar.svg">
              </ion-avatar>
              <ion-label>
                <h3>Marcelo Cisterna</h3>
                <p>No cache uwu</p>
              </ion-label>
            </ion-item>
        </ion-list> 
  </ion-content>
  