<ion-header>
        <ion-toolbar>
                <ion-buttons slot="start">
                        <ion-back-button>
                        </ion-back-button>
                </ion-buttons>
                <ion-title>Memes</ion-title>
        </ion-toolbar>
</ion-header>

<ion-content>
        <ion-grid>
                <ion-row>
                        <ion-col>
                                <ion-img (click)="imagen1()" src="https://pbs.twimg.com/media/Dgyb00IX4AEvsuy.jpg">
                                </ion-img>
                        </ion-col>
                        <ion-col>
                                <ion-img src="https://i.ytimg.com/vi/UfYd_V0jbUc/hqdefault.jpg"></ion-img>
                        </ion-col>
                </ion-row>
                <ion-row>
                        <ion-col>
                                <ion-img
                                        src="https://i.pinimg.com/originals/2d/f4/37/2df4371c059e3a243852e04e727844d2.jpg">
                                </ion-img>
                        </ion-col>
                        <ion-col>
                                <ion-img
                                        src="https://pm1.narvii.com/6542/16ba94736cd0d6cd16161f1025ebe2bd1251fd3b_hq.jpg">
                                </ion-img>
                        </ion-col>
                </ion-row>
                <ion-row>
                        <ion-col>
                                <ion-img
                                        src="http://lacasadedeni.blogspot.es/media/cache/resolve/media/files/01/588/620/2018/02/25024322-408867782865947-243864029703962624-n.jpg">
                                </ion-img>
                        </ion-col>
                        <ion-col>
                                <ion-img src="http://images7.memedroid.com/images/UPLOADED885/59aaec12ce1ac.jpeg">
                                </ion-img>
                        </ion-col>
                </ion-row>
                <ion-row>
                        <ion-col>
                                <ion-img
                                        src="https://i.pinimg.com/originals/c6/05/7d/c6057dd0e846ff70d37c565f74bf567d.jpg">
                                </ion-img>
                        </ion-col>
                        <ion-col>
                                <ion-img
                                        src="https://scontent-lht6-1.cdninstagram.com/vp/82efc4d1f34940550ab06561fc28aeef/5D6CB6A9/t51.2885-15/e35/58409024_552136785312652_5567065694614821007_n.jpg?_nc_ht=scontent-lht6-1.cdninstagram.com&ig_cache_key=MjAzNDI1NjY5NTYyMjExMTE0OQ%3D%3D.2">
                                </ion-img>
                        </ion-col>
                </ion-row>
                <ion-row>
                        <ion-col>
                                <ion-img
                                        src="https://instagram.ffra1-1.fna.fbcdn.net/vp/276730268539793ecedde2e9d889aefc/5D7755CC/t51.2885-15/e35/45493018_1843859419060003_251683491653991757_n.jpg?_nc_ht=instagram.ffra1-1.fna.fbcdn.net&ig_cache_key=MTkyMTQ4MzU0OTExOTI5NTUyMg%3D%3D.2">
                                </ion-img>
                        </ion-col>
                        <ion-col>
                                <ion-img
                                        src="https://scontent-dfw5-1.cdninstagram.com/vp/214f5268e68f4dab4a16ec303d63037b/5D55A9D8/t51.2885-15/e35/s320x320/29718159_569120640117694_3342239469804716032_n.jpg?_nc_ht=scontent-dfw5-1.cdninstagram.com&ig_cache_key=MTc0NjYyOTAzNjIyNDIwODA5MA%3D%3D.2">
                                </ion-img>
                        </ion-col>
                </ion-row>
                <ion-row>
                        <ion-col>
                                <ion-img
                                        src="https://scontent-dfw5-1.cdninstagram.com/vp/387e39fd6a593bf77cc33793835bb211/5D5E60E3/t51.2885-15/e35/s320x320/38833149_314514449307613_5526380466107580416_n.jpg?_nc_ht=scontent-dfw5-1.cdninstagram.com&ig_cache_key=MTg1MDM4OTI3ODYzMTU2MzYwMA%3D%3D.2">
                                </ion-img>
                        </ion-col>
                        <ion-col>
                                <ion-img
                                        src="https://scontent-atl3-1.cdninstagram.com/vp/81a7c986ebabce51530400396e626288/5D3B5892/t51.2885-15/e35/c16.0.684.684a/s480x480/56184619_823921187976559_637142191915510763_n.jpg?_nc_ht=scontent-atl3-1.cdninstagram.com">
                                </ion-img>
                        </ion-col>
                </ion-row>

        </ion-grid>
</ion-content>