// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

ion-content{
    --background: #1c1c1c;
}
ion-toolbar{
    --background: #10dc60;
}
ion-title{
    --color: white;
}
ion-item{
    --background: #1c1c1c;
}
ion-list-header{
    --background: #1c1c1c;
    --color: white;
}
h3{
    color: rgb(207, 207, 207);
}

