<ion-header>
  <ion-toolbar>
    <ion-title>
      Nosotros
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-fab horizontal="start" vertical="bottom" slot="fixed">
        <ion-fab-button color="success">
          <ion-icon name="arrow-dropup"></ion-icon>
        </ion-fab-button >
        <ion-fab-list side="end">
          <ion-fab-button color="light">
            <ion-icon name="logo-facebook"></ion-icon>
          </ion-fab-button>
          <ion-fab-button color="light">
            <ion-icon name="logo-twitter"></ion-icon>
          </ion-fab-button>
          <ion-fab-button color="light">
            <ion-icon name="logo-vimeo"></ion-icon>
          </ion-fab-button>
          <ion-fab-button color="light">
            <ion-icon name="logo-google"></ion-icon>
          </ion-fab-button>
        </ion-fab-list>
      </ion-fab>
      
</ion-content>
