<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button>
            </ion-back-button>
          </ion-buttons>
      <ion-title></ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
      <ion-img src="https://i.pinimg.com/736x/f3/be/9d/f3be9d65130f5c46d75f99936d8a10cc.jpg"></ion-img>
        <ion-list mode="ios">
            <ion-list-header mode="ios">Meliodas uwu</ion-list-header>
            <ion-item mode="ios">                      
            <ion-chip class="ion-margin-start">
              <ion-avatar mode="ios">
                <img src="assets/avatar.svg">
              </ion-avatar>
              <ion-label color="light">Marcelo Cisterna</ion-label>
            </ion-chip>
          </ion-item> 
          <ion-list-header mode="ios">Comentarios</ion-list-header>
          <ion-item mode="ios">
              <ion-avatar slot="end">
                <img src="assets/avatar.svg">
              </ion-avatar>
              <ion-label> 
                <h3>Dilan Cardenas</h3>
                <p>Ooooh el otaku klo</p>
              </ion-label>
            </ion-item>
          <ion-item mode="ios">
            <ion-avatar slot="end">
              <img src="assets/avatar.svg">
            </ion-avatar>
            <ion-label>
              <h3>Marcelo Cisterna</h3>
              <p>pero si tu tambien pusiste</p>
              <p> imagenes </p>
            </ion-label>
          </ion-item>
          <ion-item mode="ios">
              <ion-avatar slot="end">
                <img src="assets/avatar.svg">
              </ion-avatar>
              <ion-label>
                <h3>Dilan Cardenas</h3>
                <p>pero por el trabajo :v</p>
              </ion-label>
            </ion-item>
        </ion-list> 
  </ion-content>
  